### 1. Loading the data

In [36]:
image_dir = os.listdir("flickr8k/images/")
print("The number of image flies in Flickr8K: ", len(image_dir))

The number of image flies in Flickr8K:  8091

In [54]:
import pandas as pd
import numpy as np

f = open("flickr8k/captions.txt", 'r')
text = f.readlines()[1:]
f.close()
print(text[0])

data = []
for line in text:
    img_filename = line.split(",")[0]
    caption = line.split(",")[1]
    data.append((img_filename, caption))

df = pd.DataFrame(data, columns=["filename","caption"])
df.head(10)

1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set of stairs in an entry way .

,filename,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .\n
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse...
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...
5,1001773457_577c3a7d70.jpg,A black dog and a spotted dog are fighting\n
6,1001773457_577c3a7d70.jpg,A black dog and a tri-colored dog playing with...
7,1001773457_577c3a7d70.jpg,A black dog and a white dog with brown spots a...
8,1001773457_577c3a7d70.jpg,Two dogs of different breeds looking at each o...
9,1001773457_577c3a7d70.jpg,Two dogs on pavement moving toward each other .\n

In [25]:
train_image_names = images[:int(len(images)*0.7)]
train_text_data = captions[:int(len(captions)*0.7)]

In [27]:
print('The total number of images in train set: ', len(train_image_names))
print('The number of corresponding text titles in train set: ', len(train_text_data))

The total number of images in train set:  28318
The number of corresponding text titles in train set:  28318

In [34]:
import cv2
import os

train_images = []
for img_filename in train_image_names:
    img = cv2.imread(os.path.join('flickr8k\images', img_filename))
    print(os.path.join('flickr8k\images', img_filename))
    print(img)
    if img is not None:
        train_images.append(img)
    break
    
# print(len(train_images))

flickr8k\images\1000268201_693b08cb0e
None